html{
  box-sizing:border-box;
  font-size:62.5%;
  display:block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  font-size:1.6rem;  
  color: white;
}

/*Globales*/


h1{
  font-size:3.5rem;
}
h2{
  font-size:2rem;
}
p{
  font-size:1.8rem;
}
/* Utilidades */
.bc-durazno{
  background-color: #F78E69;
}
.bc-verde{
  background-color: #ABE188;
}
.centrar-texto{
   text-align:center;
}


/* encabezado*/

@media (min-width: 768px) {
  .header{
    height: 14rem;
    text-align:right;
    margin : 0 auto ;
    padding: 1px;
  }
}


/*contenedor*/
.contenedor {
  display:flex;
  justify-content: center;
}
.contenedor img {
  width: 100%;

}


/*about*/
@media (min-width: 768px){
.report h1 {
  font-size: 37px;
  padding: 20px
}
.text{
  width: 40rem;
  margin: 4rem 2rem;
  padding:1rem;
}
}

/* imagen-2*/

.figure{
  width: 100%;
}
.figure img{
  width: 100%;
}

/*pictures*/
.pictures{
  width: 100%;
  height: 40rem;
  margin-top:-1rem;
  display:inline-block;
}
.box h1   {
  text-align: center;
  margin-top: 1rem;
}
.pictures{
  width: 100%;
  height: 40rem;
}
center{
  text-align:center;
}
.panda{
  display:inline-block;
}
.box{
  color: white;
  width: 100%;
}
@media (min-width:768px){
  .box{
    text-align: center;
  }
  center{
    display:inline-block;
  }
}
.panda{
  height: 16rem;
  border: 5px solid white;
  margin: 2rem 3rem;
  }


  /*imagen 3*/
.bb ,
.bb img {
  width: 100%;
}
.footer 	{
  height: 60px;
  margin-top:-2rem;
  padding-top:1rem;
}
.footer p   {
  text-align:center;
}